<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <!-- Agregar Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>

    </style>
</head>

<body>
    {% if validlink %}
    {% load crispy_forms_tags %}
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://lottie.host/664722e4-e039-4143-a949-6fbc2cf129f9/7DKmaZaf85.json"
                        background="transparent" speed="1" style="width: 500px; height: 500px;" loop
                        autoplay></lottie-player>
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <h2>Registrate, es gratis !!</h2>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form | crispy }}
                        
                        <button type="submit" value="Change my password" class="btn btn-primary btn-lg btn-block" >Registrarse </button>


                    </form>
                </div>
            </div>
        </div>
    </section>
    {% else %}
    <p>The password reset link was invalid, possibly because it has
        already been used. Please request a new password reset.</p>
    {% endif %}


</body>