<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Inicio de Sesión</title>
    <!-- Agregar Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>

    </style>
</head>

<body>
    {% load crispy_forms_tags %}
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://lottie.host/9ca2d5e6-a20e-484f-8408-b7ad31ff6cb2/k6jy531iZ0.json"  background="transparent"  speed="1"  style="width: 500px; height: 500px;"  loop  autoplay></lottie-player>
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <h2>Olvidaste tu contraseña?, recuperalo aqui!</h2>
                    <form method="POST">
                        {{ form|crispy }}
                        <button type="submit" value="Send e-mail" class="btn btn-primary btn-lg btn-block">Confirmar e-mail</button>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </section>


</body>