{% extends 'index.html' %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Proforma de Mano de Obra</h1>
    <p class="mb-4">Aca se muestran todas las proformas hechas hasta la fecha.</p>

    <a href="{% url 'agregar_proforma_obra' %}" class="btn btn-primary mb-3">Agregar nueva Proforma</a>
    <a href="{% url 'agregar_cotizacion_obra'  %}" class="btn btn-primary mb-3">Agregar Cotización</a>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista de Proformas</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Proforma</th>
                            <th>Fecha</th>
                            
                            <th>Condición Pago</th>
                            <th>Moneda</th>
                            <th>Validez de O/P</th>
                            <th>Vendedor</th>
                            <th>Correo</th>
                            <th>Celular</th>
                            <th>Actividad</th>
                            <th>Observaciones</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>


                    <tbody>
                        {% for proforma in proformasObra %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ proforma }}</td>
                            <td>{{ proforma.fecha|date:"j/m/Y" }}</td>
                            
                            <td>{{ proforma.condicion_pago }}</td>
                            <td>{{ proforma.moneda }}</td>
                            <td>{{ proforma.validez }}</td>
                            <td>{{ proforma.vendedor }}</td>
                            <td>{{ proforma.correo }}</td>
                            <td>{{ proforma.celular }}</td>
                            <td>{{ proforma.actividad }}</td>
                            <td>{{ proforma.observacion }}</td>

                            <td>
                                <!-- Icono para editar -->
                                <a href="{% url 'editar_proforma_obra' proforma.id %}?return_url={{ request.path }}" class="btn btn-warning btn-circle">
                                    <i class="fas fa-edit"></i>
                                </a>

                                <!-- Icono para duplicar -->
                                <a href="{% url 'duplicar_proforma_obra' proforma.id %}" class="btn btn-success btn-circle">
                                    <i class="fas fa-clone"></i>
                                </a>
                                
                                {% comment %}
                                <!-- Icono para eliminar -->
                                <a href="{% url 'eliminar_proforma_obra' proforma.id %}"
                                    class="btn btn-danger btn-circle eliminar-proforma-obra">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                                {% endcomment %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        // Función para manejar el clic en el botón de eliminar
        $('.eliminar-proforma-obra').click(function (event) {
            event.preventDefault(); // Prevenir el comportamiento predeterminado del enlace

            // Mostrar cuadro de diálogo de confirmación antes de eliminar
            if (confirm('¿Estás seguro de que deseas eliminar esta proforma?')) {
                // Obtener la URL de eliminación del vendedor desde el atributo "href" del enlace
                var url = $(this).attr('href');

                // Enviar la solicitud AJAX para eliminar el vendedor
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',  // Incluir el token CSRF en la solicitud
                    },
                    dataType: 'json',
                    success: function (data) {
                        // Si la eliminación fue exitosa, actualizamos la tabla eliminando la fila
                        $(event.target).closest('tr').remove();
                        alert(data.message); // Mostrar un mensaje de éxito
                    },
                    error: function (error) {
                        console.log(error); // Mostrar cualquier error en la consola
                        alert('Error al eliminar la proforma'); // Mostrar un mensaje de error
                    }
                });
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            }
        });
    });
</script>
{% endblock %}